
    <div class="comment-container">
        <div class="comment-user">
            <img class="comment-img" src="{{DisplayPicture}}">
        </div>   
        <div class="comment-body">
            <div class="author">{{name}}
                <span class="userCreditScoree">({{CreditScore}})</span>
            </div>
            <p>{{commentBody}}</p>
        </div>
    </div>
