{{!-- <div class="comment-container">
    <div class="comment-user" style="margin-top: 30px;">
            <img class="comment-img" src="/img/{{DisplayPicture}}">
    </div>   
    <div class="box-text">
        <div class="box">
            <div class="text-area">
                <div class="author">{{name}}</div>
                <textarea name="commentBar" id="commentBar" class="post-comment" placeholder="Comments"></textarea>
                <img src="/img/send.png" id="sendButton" title="Send" class="send" style = "cursor: pointer">
            </div>
        </div>
    </div>
</div> --}}

<div class="comment-container" style="margin-top: -15px">
    <div class="comment-user">
        <img class="comment-img" style="margin-top: 33px;" src="/avatars/{{user.avatar}}">
    </div>   
    <div class="barbody">
        <textarea name="commentBar" id="commentBar" class="post-comment" placeholder="Write a comment..."></textarea>
        <img src="/img/pls.png" id="sendButton" title="Post Comment" class="send" style = "cursor: pointer; height: 45px;  width: 51px; margin-top: -40px">
    </div>
</div>


<div style="visibility: hidden">
    <span class="userCreditScoree" id="postid" >{{post_id}}</span>
</div>
