    <div class="box-creating">
    <div class="creating">
        <span class="create-post">
            <span class="post">Create Post</span>
        </span>
    </div>
</div>

<div class="post-text">
    <div class="whole-post">
        <div class="post-pic">
            <a class="pic" href="profile.html">
                <img class="img" src="/img/human.jpg" height="40" width="40" alt>
            </a>
        </div>
        <div class="actual-text">
            <div class="box-text">
                <div class="box-title">
                    <div class="text-area">
                        <textarea name="postTitle" id="postTitle" class="post-area-title" placeholder="Title of your post"></textarea>
                    </div>
                </div>
            </div>
            <div class="box-text">
                <div class="box">
                    <div class="text-area">
                        <textarea name="post" id="post" class="post-area" placeholder="Any story to tell?"></textarea>
                    </div>
                </div>
            </div>
            <div class="box-text">
                <div class="box-tags">
                    <div class="text-area">
                        <textarea name="postTags" id="postTags" class="post-area-tags" placeholder="Tags you want others to search"></textarea>
                    </div>
                </div>
            </div>
            <div class="buttons-post">
                <div class="buttons-post2">
                    <ul class="buttons-post-icons">
                        <li class="media-button">
                            <div class="media-icon">
                                <span class="media-span">
                                    <div class="media-pic">
                                    <div class="media-text"><i class="far fa-images"></i> Photo/Video</div>
                                    </div>
                                </span>
                            </div>
                        </li>
                        
                        <li class="media-button">
                            <div class="media-icon">
                                <span class="media-span">
                                <div class="media-pic">
                                    <div class="dropdown">
                                        <div class="media-text"><i class="fas fa-filter"></i>UniFilter</div>
                                            <div class="dropdown-content-uni">
                                                <a href="ADMU">ADMU</a>
                                                <a href="DLSU">DLSU</a>
                                                <a href="UP">UP</a>
                                                <a href="UST">UST</a>
                                            </div>
                                    </div>
                                </div>
                                </span>
                            </div>
                        </li>
                        <li class="media-button-timeline">
                            <div class="media-icon">
                                <span class="media-span">
                                    <div class="media-pic">
                                    <div class="media-text"><i class="far fa-edit"></i>Post</div>
                                    </div>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>