<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="timeline">BIG FOUR: Freedom Wall</a>
        </div>
        <form class="navbar-form navbar-left" action="/action_page.php">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search">
                <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                <i class="fas fa-search"></i>
                </button>
                </div>
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/"><i class="fas fa-home"></i> HOME</a></li>
            <li><a href="/ADMU">&#x1f985 ADMU</a></li>
            <li><a href="/DLSU">&#127993 DLSU</a></li>
            <li><a href="/UP">&#9994 UP</a></li>
            <li><a href="/UST">&#128047 UST</a></li>
                <div class="dropdown prof">
                    <li><a href="/iravillanueva" class="dropbtn" style="color:white; font-size:14px; border: 1px solid white; margin-right: 10px;" title="Go to Profile"><i class="far fa-user"></i> PROFILE</a></li>
                    <div class="dropdown-content">
                        <a href="login">Log out</a>
                    </div>
                </div>
        </ul>
    </div>
</nav>