<div class="col-sm-2 sidenav">
    <div class="content-sidenav">
        <a href="profile.html"><img class="img-circle" src="img/human.jpg"/> </a>
            <div class="rank-label-container">
                <span class="label label-default rank-label" title="Credit Score">{{CreditScore}}</span>
            </div>
        <p class="p-name">{{fName}} {{lName}}</p>
    </div>
</div>