<div class="container">
    <div class="card w-50 mt-5 mx-auto shadow-sm">
        <div class="card-body">
            <h1>Login - The Big 4</h1>
            <hr>
            <form id="login" method="POST" class="form-login" action="/">
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Email address</label>
                    <input type="text" class="form-control" name="email" id="login-email" placeholder="Email"
                        value="{{input.email}}">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="login-password"
                        placeholder="Password">
                </div>
                <button type="submit" class="btn w-100 btn-custom mb-1" id="loginbutton">LOG-IN</button>
                
                <div id="error" style="margin-left: 165px; color: red; font-size:16px; font-weight:600;"></div>
                <hr>
                <div id="emailHelp" class="form-text text-center mb-2">Don't have an account? Sign up now!</div>
                <button type="submit" class="btn w-100 btn-light shadow-sm">Create an Account</button>
            </form>
        </div>
    </div>
</div>