<!DOCTYPE html>

<head>
    <title> Sign Up - B4 Freedom Wall</title>
    <meta name="google-signin-client_id" content="436134069770-8noeso15h66pmn94790jkskieq3a3jl5.apps.googleusercontent.com">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/img/logo.png">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="/js/signup.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/080b1bc218.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class = "template">
        <div class="scope">
            <div class = "header">
                <a class="logo" href="/" tabindex="-1" title="B4FW"></a>
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <span id="login-continue" class="h5">Sign up with your email address</span>
                </div>
            </div>
        
            <form name="signUp" method="POST" class="form-login">
                <div class="row">
                    <div class="col-xs-12">
                        <label for="login-email" class="for-forms">
                            Email address
                        </label>
                        <input type="email" class="form-control" name="email" id="register-email" placeholder="Email address" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="login-password" class="for-forms">
                            Password
                        </label>
                        <input type="password" class="form-control" name="password" id="register-password"
                                placeholder="Password" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="login-password-recheck" class="for-forms">
                            Password Recheck
                        </label>
                        <input type="password" class="form-control" name="passwordRecheck" id="register-password-recheck"
                                placeholder="Confirm Password" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="login-fname" class="for-forms">
                            First Name
                        </label>
                        <input type="text" class="form-control" name="fName" id="register-fName"
                                placeholder="First Name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="login-lname" class="for-forms">
                            Last Name
                        </label>
                        <input type="text" class="form-control" name="lName" id="register-lName"
                                placeholder="Last Name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="login-username" class="for-forms">
                            Username
                        </label>
                        <input type="text" class="form-control" name="username" id="register-username"
                                placeholder="What should we call you?" required>
                    </div>
                </div>
                <div class="row row-submit">
                    <div class="col-xs-12">
                        <div class="loginbuttonblock">
                            <input type="submit" id="loginbutton" value="SIGN-UP">
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div id="error" style="margin-left: 165px; color: red; font-size:16px; font-weight:600;"></div>
                <div class="col-xs-12">
                    <div class="divider"></div>
                    <p class="text-center text-muted footer">Big Four: Freedom Wall</p>
                </div>
            </div>
        </div> 
    </div>
</body>     


</html>     