@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

h1 {
    font-family: 'Castoro', serif;
}

body{
    background: rgb(228,228,228);
    background: linear-gradient(72deg, rgba(228,228,228,1) 0%, rgba(255,255,255,1) 100%);
}

.btn-custom {
    transition: 0.5s;
    background-color: teal;
    color: white;
}

.btn-custom:hover {
    transition: 0.5s;
    background-color: grey;
}